<!DOCTYPE html>
<html>
<head lang="en-US">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Carter Mitchell - Portfolio</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <p class="site-title">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Content/images/second_banner.png" alt="OdeToFood"/>
        </a>
    </p>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("carter-mitchell.com", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <div class="review">
        <h3>Best Course Review</h3>
        @Html.Action("BestReview", "CourseReviews")
    </div>
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - HCM Technologies, Inc.</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
